/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/

body, html{
    background:url(../images/bg2.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 15px;
}

/* a */
a{
    font-size:1.4em;
/*  font-weight:bold;*/
}

h1.title { 
	font-size: 40px;
	font-weight: 400; 

    font-family: 'cwTeXKai';
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

#margin{
    margin-top: 40px;
}

.main-login{
 	background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0,0,0,0.8) 0 8px 33px 0;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.main-center{
 	margin: 0 auto;
 	max-width: 660px;
    padding: 20px 40px 30px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}